<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts::head">
 

</head>
	
<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="layouts::side-bar"  >
       
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav th:replace="layouts::nav-bar" >
 
      </nav>

      <div class="container-fluid">
      		<h4 class="title-table">Danh sách sản phẩm </h4>
      		<div class="row">
      			<div class="col-sm-4">
      				<form id="form-search" method="post" th:action="@{/products}" th:object="${searchForm}"  >
      					<input class="form-control" id="keyword"  name="keyword" th:value="${searchForm.keyword}" placeholder="Nhập tìm kiếm...">
      				</form>
	      		</div>
	      		<div class="col-sm-3">
	      			<select id="cateId" th:field="${searchForm.cateId}" class="form-control" form="form-search">
		      			<option value="0">Chọn danh mục</option>
		      			<option th:each=" item :${listCategory}" 
		      					th:value="${item.id}"
		      					th:text=${item.name}
		      					th:selected="${cateId} == ${item.id} ? true : false" />
	      			</select>
	      			<input type="hidden" form="form-search" th:field="${searchForm.page}" value="1" id="pageId">
	      		</div>
	      		<div class="col-sm-3">
	      			<select id="status" class="form-control" form="form-search" th:field=${searchForm.status}>
	      				<option value="">Chọn trạng thái</option>
		      			<option th:each="item : ${T(com.demo.utils.Status).values()}"
		      			 th:value="${item}" 
		      			 th:text=${item.message}
		      			 th:selected="${status} == ${item} ? true : false"
		      			  />
	      			</select>
	      		</div>
      			<div class="col-sm-2">
      				<button  form="form-search"	class="btn btn-success">Tìm kiếm</button>
      			</div>
      		</div>
      		<div >
      			<a class="btn btn-info " style="margin: 15px 0 0 0;" th:href="@{/products/new}">Thêm</a>
      		</div>
      		<div class="row"> 
      			<table class="table table-striped table-food" >
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Hình ảnh</th>
				      <th scope="col">Tên</th>
				      <th scope="col">Giá tiền</th>
				      <th scope="col">Tình trạng</th>
				      <th scope="col">Ngày tạo</th>
				      <th scope="col">Ngày cập nhật</th>
				      <th scope="col"> + </th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="item : ${pageProduct.getContent()}">
				      <td th:text=${item.id}/>
				      <td>
				      	<img alt="" th:src="@{ ${item.images}}" width="80px" height="80px">
				      </td>
				      <td th:text=${item.name}/> 
				      <td th:inline="text" >[[${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')}]] VNĐ </td>
				      <td th:text=${item.status.message}/> 
				      <td th:text=${item.createDate}/> 
				      <td th:text=${item.updateDate}/> 
				       
					  <td>
					  	<button class="btn btn-primary btnView">
					  		View
					  	</button>
					  	<a class="btn btn-warning" th:href="@{'/products/edit/' + ${item.id}}">Edit</a>
					  	<button  th:onclick="deleteItem([[${item.id}]])" class="btn btn-danger">
					  		Delete
					  	</button>
					  </td>
				    </tr>
				 
				  </tbody>
				  <thead class="text-center">
				  		<tr class="">
				  			<td colspan="5"  >
				  				<nav aria-label="Page navigation example" >
								  <ul class="pagination ">
								    <li class="page-item">
								      <a th:if="${pageProduct.getNumber()+1 == 1}" class="page-link" href="javascript:void(0)" aria-label="Previous">
								        <span aria-hidden="true">&laquo;</span>
								        <span class="sr-only">Previous</span>
								      </a>
								  
										 <a th:unless="${pageProduct.getNumber()+1 == 1}" class="page-link" 
									 	 th:onclick="buildPagination([[${pageProduct.getNumber()+1 - 1}]])" aria-label="Previous">
								        <span aria-hidden="true">&laquo;</span>
								        <span class="sr-only">Previous</span>
								      </a>
									 
								    </li>
								     
								 	<th:block th:if="${pageProduct.getTotalElements() > 0 }">
								 		<th:block th:each="i : ${#numbers.sequence(1, pageProduct.getTotalPages() )}">
								     
								    		<li th:if="${i == pageProduct.getNumber() + 1}" class="page-item active">
								    			<a  class="page-link"  href="javascript:void(0)"  th:text="${i}"></a>
								  	  		</li>
								     		<li th:unless="${i == pageProduct.getNumber() + 1}" class="page-item">
								    			<a  class="page-link"   th:onclick="buildPagination([[${i}]])" th:text="${i}" ></a>
								  	  		</li>
								    	</th:block>
								 	</th:block>
								    
								    <li class="page-item">
								      <a th:if="${pageProduct.getTotalPages() == pageProduct.getNumber() + 1}" class="page-link" 
								      	href="javascript:void(0)" aria-label="Next">
								        <span aria-hidden="true">&raquo;</span>
								        <span class="sr-only">Next</span>
								      </a>
								      <a th:unless="${pageProduct.getTotalPages() == pageProduct.getNumber() + 1}" class="page-link" 
								      	 th:onclick="buildPagination([[${pageProduct.getNumber()+2}]])" aria-label="Next">
								        <span aria-hidden="true">&raquo;</span>
								        <span class="sr-only">Next</span>
								      </a>
								    </li>
								  </ul>
								</nav>
				  			</td>
				  		</tr>
				  </thead>
				</table>
      		</div>
      		 
      		 
      		 <div class="modal fade" tabindex="-1" role="dialog" id="modalNotifi">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">Thông báo</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        	<p id="msg"></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div> 
      		 
      		<div class="modal fade" tabindex="-1" role="dialog" id="viewCategory">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">Xem sản phẩm</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        	<form action="#">
			        		<input id="viewName" type="text" class="form-control" readonly="readonly">
			        		<textarea id="viewDescription" rows="3" cols="3" class="form-control" readonly="readonly"></textarea>
			        	</form>
			      </div>
			      <div class="modal-footer">
			         
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div> 
      		 
       	<!-- content -->
      </div>
    </div>
    <!-- /#page-content-wrapper -->
 		<script type="text/javascript" th:inline="javascript">
 			 
  		 	function buildPagination(page){
   				 
   				$("#pageId").val(page);
   				$("#form-search").submit();
  		 	}
  		</script>
  </div>
  <!-- /#wrapper -->
	 <script type="text/javascript" th:inline="javascript">
  			$(document).ready(function(){
  				var message = [[${message}]];
  				if(message){
	    			$("#modalNotifi #msg").html(message);
	    			$("#modalNotifi").modal("show");
    			}
  			});
  		</script>
  <script type="text/javascript">
  		 
		$( document ).ready(function() {		 
    		$('.btnView').click(function(){
    			var id = $(this).parents('tr').find("td:first").html();
    			$.ajax({
    				method : 'GET',
    				url : '/api/v1/products/'+id,
    				success : function(data){
    					$("#viewName").val(data.name);
    					$("#viewDescription").val(data.description)
    					$("#viewCategory").modal("show");
    				},
    				error : function(xhr,err){
    					  alert(xhr.status);
    				}
    			});
    		});
		});
		function deleteItem(id){
			if(confirm("Bạn có muốn xoá không ?")){
				location.href="/products/delete/"+id;
			}
		}
  </script>
  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  
  <!-- Menu Toggle Script -->
  <script>
  
   $("#sidebar_product").addClass("select").siblings().removeClass("select");
  
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
