<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts::head">
 

</head>
	
<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="layouts::side-bar"  >
       
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav th:replace="layouts::nav-bar" >
 
      </nav>

      <div class="container-fluid">
 			<form th:action="@{/products/save}" method="POST" enctype="multipart/form-data"	class="form-action" th:object="${submitForm}">
					  <div class="form-group">
					  	<input type="hidden" th:field="*{id}" class="form-control" >
					  	<input type="hidden" th:field="*{createDate}" class="form-control" >
					  	<input type="hidden" th:field="*{updateDate}" class="form-control" >
					  	<input type="hidden" th:field="*{images}" class="form-control" >
					    <label for="name">Tên sản phẩm :</label>
					    <input type="text" th:field="*{name}" class="form-control"   placeholder="Nhập tên sản phẩm...">
					     <span style="color: red"		th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></span>
					  </div>
		 			  <div class="form-group">
					    <label for="price">Giá tiền :</label>
					    <input type="text" th:field="*{price}" class="form-control"  placeholder="Nhập giá sản phẩm...">
					     <span style="color: red"		th:if="${#fields.hasErrors('price')}" th:errors="*{price}" ></span>
					  </div>
					  <div class="form-group">
					    <label for="multipartFile">Hình ảnh :</label>
					    <input type="file" th:field="*{multipartFile}" class="form-control"  >
					  </div>
					  <div class="form-group">
					    <label for="categoryId">Danh mục :</label>
					     <select th:field="*{category}" class="form-control">
					    	 <option value="0">Chọn danh mục</option>
					    	 <option th:each="item : ${listCategory}" th:value="${item.id}" th:text="${item.name}"></option>
					    </select>
					     <span style="color: red"	th:if="${#fields.hasErrors('category')}" th:errors="*{category}" ></span>
					  </div>					 
					  <div class="form-group">
					    <label for="description">Chi tiết :</label>
					    <textarea th:field="*{description}" class="form-control"   rows="3"></textarea>
					  </div>
					   <div class="form-group">
					    <label for="categoryId">Tình trạng  :</label>
					     <select th:field="*{Status}" class="form-control">
					    	 
					    	 <option th:each="item : ${T(com.demo.utils.Status).values()}" 
					    			 th:value="${item}" 
					    			 th:text="${item.message}"></option>
					    </select>
					      
					  </div>
					  <div class="form-group">
					  	<button class="btn btn-success">Lưu</button>
					  </div>
			</form>
      </div>
    </div>
 
  </div>

  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
 
  <script>
  $("#sidebar_product").addClass("select").siblings().removeClass("select");
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
